/* Var Used */
:root {
  --primary-color: #0d18bb;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --background-color: #0c59ccda;
  --visitedcolor: #f3081c;
  --activecolor: #f3f3f2;
  --background-color2: LightGrey;
  --border-color: #000;
  --button-color: #0bad19;
  --fill1: #edc655;
  --fill2: #fcffad;
  --fill3: #f76414;
  --font-weight1: 400;
  --font-weight2: 700;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* Sets the font size to 16px */
  line-height: 1.6;

  /* Sets the line-height to 1.6 */

  background-color: var(--background-color);
}

h1 {
  font-size: 60px;
  font-weight: var(--font-weight1);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight2);
  color: var(--button-color);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight2);
}

.h1about {
  text-align: center;
}

a {
  color: var(--primary-color);
}

a:visited {
  /* visited link */
  color: var(--visitedcolor);
}
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: left;
}
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #3a357b;
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  button: hover; 
  button: focus;
  cursor: pointer;
  opacity: 0.8;
  }
  .modal-container {
    display: none;
  }
  
  
  .modal-container.is-visible {
      position: fixed;
      padding: 20px;
      box-sizing: border-box;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      
      /* to show it above other content */
      z-index: 999; 
      
      /* to allow scrolling if the screen is not high enough*/
      overflow: auto; 
      
      /* this is used to center the modal */
      display: grid;
      text-align: center;
    }
    
    .modal {
      margin: right;
      display: inline-block;
      box-sizing: border-box;
      background:#033d27;
      padding: 15px;
      width: 50%;
      max-width: 700px;
      text-align: left;
    }
  
  .modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #0d18bb;
    text-decoration: underline;
  }
  
  .modal h1 {
    margin-top: 0;
  }
  
  .modal p {
    margin-bottom: 0;
  }